!!! 5
link(rel='stylesheet', href='/assets/stylesheets/index.css')
h1 MyCourseAlert

#spine_app
  #courses
    form
      input(type='text', placeholder='Add course...')
    h3 Courses Followed:

    ul.items
      p items go here

    script#course_template(type='text/x-jquery-tmpl', charset='utf-8')
      <li> </li>
      <li class="item">${id} <span>(${status})</span></li>


  //- #all_courses
  //-   ul.items
  //-     p all courses go here

  //-   script#all_course_template(type='text/x-jquery-tmpl', charset='utf-8')
  //-     <li class="item">Course:${id} <span>(${status})</span><button>Add course</button></li>


  script(src='/application.js', type='text/javascript', charset='utf-8')

  script(type='text/javascript')
      require("assets/lib/jquery");
      var exports = this;
      jQuery(function(){
          var Courses = require("scripts/controllers/courses");
          exports.courses = new Courses({el: $("#courses"), user: "olliejkahn@yahoo.com"});
      });