!!! 5
link(rel='stylesheet', href='/assets/stylesheets/index.css')
h1 MyCourseAlert
h2 Weclome, pennappsdemo@gmail.com!

#spine_app
  #courses
    form
      input(type='text', placeholder='Add course...')
    h3 Courses Followed:

    ul.items
      p items go here

    script#course_template(type='text/x-jquery-tmpl', charset='utf-8')
      <li> </li>
      <li class="item">${id} <span>(${status})</span></li>


#blurb
  br
  p Since 2012, My Course Alert has been helping
  p Penn students to register for the classes they 
  p desire. Gone are the days of logging onto 
  p Penn InTouch to see if your course is available. 
  p Just let us know which closed classes you are 
  p trying to get into, and we will send you an email
  p as soon as they are available.  
  br
  p Good luck!
  //- #all_courses
  //-   ul.items
  //-     p all courses go here

  //-   script#all_course_template(type='text/x-jquery-tmpl', charset='utf-8')
  //-     <li class="item">Course:${id} <span>(${status})</span><button>Add course</button></li>


  script(src='/application.js', type='text/javascript', charset='utf-8')

  script(type='text/javascript')
      require("assets/lib/jquery");
      var exports = this;
      jQuery(function(){
          var Courses = require("scripts/controllers/courses");
          exports.courses = new Courses({el: $("#courses"), user: "olliejkahn@yahoo.com"});
      });