!!! 5
html
    head
        title= title
        link(rel='stylesheet', href='/assets/stylesheets/defaults.css')
        link(rel='stylesheet', href='/assets/stylesheets/app.css')
    body
        .background_overlay
        header
            a(href='/')
                h1 amplifyme
                img(src='/assets/images/amplifyme.png')

        #content 
            != body