!!! 5
html
    head
        title= title
        link(rel='stylesheet', href='/assets/stylesheets/defaults.css')
        link(rel='stylesheet', href='/assets/stylesheets/app.css')
    body
        header

        #content 
            != body