@import 'nib'
@import './defaults'

#home
    width 100%
    relative top 50px
    margin 0 auto

    p
        font-size largeSize

    ol
        margin-left 50px
        margin-top 10px
        margin-bottom 40px
        overflow auto
        
        li 
            padding-top 10px
            clear both
            p
                font-size largeSize - 4
                margin-top 10px
                margin-left 5px 
                float left
                width 850px
            .circle
                background url('/assets/images/list_circle.png') 100% 100%
                float left
                width 30px
                height 30px
                text-align center
                font-size largeSize - 4
                // to vertically center the numbers
                line-height largeSize + 9
                margin 5px 
    h3
        font-size largeSize

