@import 'nib'
@import './defaults'

#tags_app
    width 100%
    relative top 30px
    margin 0 auto
    height 500px

    #tags
        height 100%
        width 315px
        padding-right 10px
        float left
        overflow-y scroll
        overflow-x hidden
        form
            position relative
            margin 10px 0px 15px
            input
                padding-left 25px
                width 250px
                font-size largeSize
                color secondaryAccent
            div
                font-size largeSize
                color secondaryColor
                absolute top 6px left 10px
            .submit
                width 35px
                height 35px
                background-color mainColor
                border-radius 5px
                absolute top 2px left 257px
                border none
                cursor pointer


        ul
            list-style none
            margin-right 10px
            li
                color secondaryColor
                font-size largeSize
                padding 5px 10px

                &:hover
                    text-decoration underline
                    cursor pointer

                span
                    font-size mainSize - 2
                    color lighten(secondaryColor, 10)
        .active
            background-color lighten(secondaryColor, 20)
            border-radius 5px
            color white
            span
                color #EEE

    #details
        width 550px
        float left
        padding-left 50px
        border-bottom-left-radius 15px
        border-left 3px solid accentColor
        border-bottom 3px solid accentColor
        height 100%
        
        h1
            margin 0px
            font-size 48px
            color secondaryAccent
            padding-bottom 10px
        p 
            font-size largeSize
            padding 10px 0px
            a 
                text-decoration none
                &:hover
                    text-decoration underline

        textarea
            width 500px
            padding 10px
            margin 10px 0px
            border-radius 5px
            border 2px solid lighten(secondaryColor, 50)
            // switch to darken later!!!!
            background white
            min-Height 80px

        button
            font-size mainSize
            padding 5px
            border-radius 5px
            font-family Avenir
            background-color #EEE
            &:hover
                cursor pointer